@charset "utf-8";
/* ***************  global *************** */
// Montserrat 400, 600
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');

* {box-sizing: border-box}
html, body {margin:0; padding:0; font-family: 'Nanum Gothic', sans-serif; color: #333;}

.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; } .clearfix { display:inline-block; }/*  ie-mac \*/ *html .clearfix {height: 1%;} .clearfix {display: block;}/* ie-mac */

/* *********** other ********** */
.effect {background-color:#000; filter:Alpha(opacity=35); opacity:0.3; -moz-opacity:0.3;}
summary { display:none}
/* link */
a {}
a:hover {}
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:active {text-decoration:none}

/* image */
img {border:0; vertical-align:top}

/* define */
dl, dt, dd {margin:0px; padding:0px;}

/* sentence */
div, h2 {padding:0; margin:0;}
p {margin:0px; padding:0px;}

/* list */
ul {list-style-type:none; margin:0px; padding:0px; }
ol {padding-left:24px;}

/* area */
hr {display:none;}

/* form */
form {margin:0; padding:0;}
form label, label {height:19px; color:#5E5E5E; cursor:default; font-size:100%;}
select {font-size:100%; background:#fff; vertical-align:middle; height:20px; letter-spacing:0px;}
legend {display:none;}
fieldset {margin:0; padding:0; border:none;}

/* table */
table {margin:0px; padding:0px; border-spacing:0;}
td {margin:0px; padding:0px; font-size:100%; color:#777777;}
.notable {border-collapse:collapse; margin:0; padding:0; border-spacing:0; border:0 solid;}
th {font-weight:normal;}
/* h */
h1, h2, h3, h4, h5, h6, h7 { margin:0; padding:0;  font-weight:normal;}
strong, b {font-weight:normal;}

input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

.board-default {
    summary { display:inherit}
    /* link */
    a {}
    a:hover {}
    a:link {text-decoration:inherit}
    a:visited {text-decoration:inherit}
    a:active {text-decoration:inherit}

    /* image */
    img {border:inherit; vertical-align:top}

    /* define */
    dl, dt, dd {margin:inherit; padding:inherit;}

    /* sentence */
    div, h2 {padding:inherit; margin:inherit;}
    p {margin:inherit; padding:inherit;}

    /* list */
    ul {list-style-type:inherit; margin:inherit; padding:inherit; }
    ol {padding-left:inherit;}

    /* area */
    hr {display:inherit}

    /* form */
    form {margin:inherit; padding:inherit;}
    form label, label {height:inherit; color:inherit; cursor:inherit; font-size:inherit;}
    select {font-size:inherit; background:inherit; vertical-align:inherit; height:inherit; letter-spacing:inherit;}
    legend {display:inherit;}
    fieldset {margin:inherit; padding:inherit; border:inherit;}

    /* table */
    table {margin:inherit; padding:inherit; border-spacing:inherit;}
    td {margin:inherit; padding:inherit; font-size:inherit; color:inherit;}
    th {font-weight:inherit;}
    /* h */
    h1, h2, h3, h4, h5, h6, h7 { margin:inherit; padding:inherit;  font-weight:inherit;}
    strong, b {font-weight:bold;}
}

/* border */
.nobd {border:0 !important}

@font-face {
    font-family: 'NotoSansCJKkr';
    src: url('../img/font/notokr-regular.eot');
    src: url('../img/font/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('../img/font/notokr-regular.woff2') format('woff2'),
         url('../img/font/notokr-regular.woff') format('woff'),
         url('../img/font/notokr-regular.ttf') format('truetype'),
         url('../img/font/notokr-regular.svg#notokr-regular') format('svg');
}

@import 'style.scss';


#fall-video {overflow: hidden;position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
#fall-video video {position: absolute;left: 0;top: 0;}
#fall-video .fall-video-cover {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-image: url('');}

/* fall nav */
#fall-nav {
	z-index: 1000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}

/* fake box */
.fake-box-contents {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	margin: 0 auto;
}
.fake-box-inner {
	position: relative;
	left: -25px;
	top: 0;
	padding-left: 25px;
	margin: 0 auto;
}

/* fall scroll */
#fall-scroll {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 1100px;
	height: 100%;
}
#fall-scroll .fall-section {
	z-index: 10;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.fall-section-scroll {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}
.fall-section-scroll.hide-scroll {
	overflow: hidden;
}
.fall-section-scroll.fake-hide-scroll {
	overflow: hidden;
}
.fall-section-scroll .fall-container {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	margin: 0 auto;
}
.fall-section-scroll .fall-container .fall-contents {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	margin: 0 auto;
}
.fall-section-scroll .fall-container .fall-contents .fall-inner {
	position: relative;
	left: -25px;
	top: 0;
	min-height: 100%;
	padding-left: 25px;
	margin: 0 auto;
}

/* slide-horizontal */
#fall-scroll.slide-horizontal .fall-section.current {
	z-index: 20;
	opacity: 1;
	left: 0;
}
#fall-scroll.slide-horizontal .fall-section.prepare-prev {
	opacity: 1;
	left: -100%;
}
#fall-scroll.slide-horizontal .fall-section.prepare-next {
	opacity: 1;
	left: 100%;
}
#fall-scroll.slide-horizontal .fall-section.hide-prev {
	left: 100%;
}
#fall-scroll.slide-horizontal .fall-section.hide-next {
	left: -100%;
}
#fall-scroll.slide-horizontal .fall-section.show-prev {
	left: 0;
}
#fall-scroll.slide-horizontal .fall-section.show-next {
	left: 0;
}

/* slide-vertical */
#fall-scroll.slide-vertical .fall-section.current {
	z-index: 20;
	opacity: 1;
	top: 0;
}
#fall-scroll.slide-vertical .fall-section.prepare-prev {
	opacity: 1;
	top: -100%;
}
#fall-scroll.slide-vertical .fall-section.prepare-next {
	opacity: 1;
	top: 100%;
}
#fall-scroll.slide-vertical .fall-section.hide-prev {
	top: 100%;
}
#fall-scroll.slide-vertical .fall-section.hide-next {
	top: -100%;
}
#fall-scroll.slide-vertical .fall-section.show-prev {
	top: 0;
}
#fall-scroll.slide-vertical .fall-section.show-next {
	top: 0;
}

/* fade-scale */
#fall-scroll.fade-scale .fall-section.current {
	z-index: 20;
	opacity: 1;
	left: 0;
}
.fall-scale #fall-scroll.fade-scale .fall-section.prepare-prev {
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
}
.fall-scale #fall-scroll.fade-scale .fall-section.prepare-next {
	transform: scale(3, 3);
	-webkit-transform: scale(3, 3);
}
.fall-scale #fall-scroll.fade-scale .fall-section.hide-prev {
	opacity: 0;
	transform: scale(3, 3);
	-webkit-transform: scale(3, 3);
}
.fall-scale #fall-scroll.fade-scale .fall-section.hide-next {
	opacity: 0;
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
}
.fall-scale #fall-scroll.fade-scale .fall-section.show-prev {
	opacity: 1;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}
.fall-scale #fall-scroll.fade-scale .fall-section.show-next {
	opacity: 1;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}