/********************** 
* val
***********************/


/********************** 
* layout
***********************/
#wrap.visible {
    visibility: visible;
}

div.wrapper {    
    margin: 0 auto;

    div#paging {
        position: fixed;
        top: 50%; left: 50px;
        margin: -110px 0 0 0;
        z-index: 25;

        ul.lnb-navi {

            li {
                padding: 10px 0;

                a {
                    display: inline-block;
                    width: 18px; height: 18px;
                    background: url('../img/pc/icon_navi_off.png') 0 0 no-repeat;
                    text-indent: -9999px;

                    &.active {
                        background: url('../img/pc/icon_navi_on.png') 0 0 no-repeat;
                    }
                }
            }
        }
    }

    header {
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 77px;
        z-index: 25;
        background: #000;

        a.h1 {
            position: absolute;
            width: 180px; height: 77px;
            background: url('../img/pc/header_logo.jpg') 50% 50% no-repeat;
            text-indent: -9999px;
        }
        div.navigation {
            text-align: center;

            a {
                display: inline-block;
                font-size: 18px;
                color: #fff;
                margin: 0 6%;
                line-height: 78px;

                &.hm-1 {
                    width: 100px; 
                    background: url('../img/pc/gnb_txt_1_off.png') 50% 50% no-repeat;
                    text-indent: -9999px;

                    &:hover {
                        background: url('../img/pc/gnb_txt_1_on.png') 50% 50% no-repeat; 
                    }
                    &.active {
                        background: url('../img/pc/gnb_txt_1_on.png') 50% 50% no-repeat; 
                    }
                }
                &.hm-5 {
                    width: 100px; 
                    background: url('../img/pc/gnb_txt_3_off.png') 50% 50% no-repeat;
                    text-indent: -9999px;

                    &:hover {
                        background: url('../img/pc/gnb_txt_3_on.png') 50% 50% no-repeat;
                    }
                    &.active {
                        background: url('../img/pc/gnb_txt_3_on.png') 50% 50% no-repeat;
                    }
                }

                &.active {
                    color: #d9e340;
                }
            }
            div.games {
                position: relative;
                display: inline-block;
                font-size: 18px;
                color: #fff;
                margin: 0 150px;
                line-height: 78px;
                width: 100px;
                background: url('../img/pc/gnb_txt_2_off.png') 50% 50% no-repeat;

                &:hover {
                    background: url('../img/pc/gnb_txt_2_on.png') 50% 50% no-repeat;
                }
                &.active {
                    background: url('../img/pc/gnb_txt_2_on.png') 50% 50% no-repeat;
                }
                div.submenus {
                    display: none;
                    position: absolute;
                    z-index: 24;
                    background: #000;
                    width: 365px;
                    left: 50%; top: 57px;
                    margin-left: -182px;
        
                    a {
                        display: inline-block;
                        color: #828282;
                        font-size: 18px;
                        line-height: 30px;
                        margin: 0 25px;

                        &:hover {
                            color: #fff;
                        }
                        &.active {
                            color: #fff;
                        }
                    }
                    span {
                        display: inline-block;
                        width: 5px; height: 5px;
                        vertical-align: middle;
                        background: url('../img/pc/icon_submenu_dot.png') 0 0 no-repeat;
                    }
                }
            }
        }
        a.go-cafe {
            position: absolute;
            font-size: 16px;
            right: 50px; top: 26px;
            color: #fff;
            background: url('../img/pc/icon_cafe.png') 0% 30% no-repeat;
            padding-left: 30px;
            line-height: 30px; 
        }
    }
    footer {
        position: fixed;
        bottom: 0; left: 0;
        width: 100%; height: 77px;
        z-index: 25;
        background: #fff;
        padding: 23px 0 0 47px;

        p {
           width: 364px; height: 24px;
           background: url('../img/pc/copyright.jpg') 50% 50% no-repeat;
           text-indent: -9999px;
        }
    }
    
    div#section0 {

        div.fall-contents {
            width: 100%; height: 100%;
            background: url('../img/pc/bg_1.jpg') 50% 50% no-repeat;
            background-size: cover;
        }
        div.fall-inner {
            
            .intro-wrap {
                position: absolute;
                width: 563px; height: 544px;
                left: 50%; top: 50%;
                margin: -222px 0 0 -280px;
                text-align: center;
            }
        }
    }

    div#section1 {
        
        div.inner {
            position: relative;

            div.apply-wrap {
                position: absolute;
                width: 860px; height: 1600px;
                background: url('../img/pc/bg_apply.png') 50% 50% no-repeat;
                left: 50%; top: 50%;
                margin: -1050px 0 0 -430px;
            }
            a.game-warn {
                position: absolute;
                width: 120px; height: 38px;
                background: url('../img/pc/btn_warn.png') 50% 50% no-repeat;
                left: 608px; top: 255px;
                text-indent: -9999px;
            }
            div.info-forms {
                position: absolute;
                width: 730px;
                top: 800px; left: 63px;
                padding-bottom: 30px;
            }
            div.apply-google {
                position: absolute;
                width: 730px;
                top: 1290px; left: 6px;
            }
            div.terms-txt {
                position: absolute;
                width: 799px; height: 208px;
                top: 1597px; left: 29px;
                background: url('../img/pc/bg_terms.png') 0 0 repeat;

                span {
                    display: block;
                    font-size: 14px;
                    color: #fff;
                    margin-left: 43px; padding-top: 10px;
                }
                p {
                    padding-top: 20px;
                    font-size: 13px;
                    color: #757575;
                    line-height: 26px;
                    padding-left: 40px;
                }
            }
            div.phone-kind {
                padding-left: 112px;

                label {
                    margin-left: 30px;
                }
            }
            div.input-info {
                padding: 25px 0 40px 0;

                input {
                    width: 496px; height: 70px;
                    border: 1px solid #6edaca; background: #000;
                    color: #fff;
                    font-size: 18px;
                    text-align: center;

                    &::placeholder {
                        color: #fff;
                    }
                }
                a.btn-apply {
                    position: absolute;
                    margin-top: -11px;
                }
            }
            div.agree {
                font-size: 16px;
                color: #fff;
                padding: 10px 0;

                p {
                    float: left;
                    font-weight: 700;

                    &.last {
                        color: #67b3aa;
                    }
                }
                a {
                    float: right;
                    font-size: 16px;
                    color: #fff;
                    text-decoration: underline;
                }
            }
            div.txt-warn {
                padding-top: 30px;
                padding-bottom: 30px;
                letter-spacing: -1px;
                font-size: 13px;
                color: #fff;
                line-height: 26px;
            }
        }
    }

    div#section2 {
        
        div.fall-contents {
            width: 100%; height: 100%;
            // background: url('../img/pc/pc_background_test2.png') 50% 50% no-repeat;
            // background-size: cover;
            
            div.scene_bg {
                position: absolute;
                width: 100%; height: 100%;
                left: 0; top: 0;
                background: url('../img/pc/bg_section2_1.png') 50% 50% no-repeat;
                background-size: cover; 
                z-index: 2;
            }
            div.bg {
                position: absolute;
                width: 100%; height: 100%;
                top: 0;
                left: -100px;
                background: url('../img/pc/bg_section2_2.png') 50% 50% no-repeat;
                background-size: cover; 
                transform: scale(1.2);
                transition: transform 1.2s ease-in-out, left 1s ease-in-out;
                z-index: 1;

                &.on {
                    transform: scale(1);
                    left: 0;
                }
            }
            div.world-wrap {
                position: absolute;
                width: 860px; height: 560px;
                background: url('../img/pc/bg_world.png') 50% 50% no-repeat;
                left: 50%; top: 50%;
                margin: -260px 0 0 -430px;
                z-index: 3;

                p {
                    font-size: 16px;
                    color: #fff;
                    line-height: 32px;
                    text-align: center;
                    padding-top: 165px;
                    text-shadow: 0 0 5px #000;
                }
            }
        }
    }

    div#section3 {
        
        div.fall-contents {
            width: 100%; height: 100%;
            // background: url('../img/pc/bg_4.jpg') 50% 50% no-repeat;
            // background-size: cover;

            div.scene_bg {
                position: absolute;
                width: 100%; height: 100%;
                left: 0; top: 0;
                background: url('../img/pc/bg_section3_1.png') 50% 50% no-repeat;
                background-size: cover; 
                z-index: 2;
            }
            div.bg {
                position: absolute;
                width: 100%; height: 100%;
                top: 0;
                left: -100px;
                background: url('../img/pc/bg_section3_2.png') 50% 50% no-repeat;
                background-size: cover; 
                transform: scale(1.2);
                transition: transform 1.2s ease-in-out, left 1s ease-in-out;
                z-index: 1;

                &.on {
                    transform: scale(1);
                    left: 0;
                }
            }

            div.character-wrap {
                position: absolute;
                z-index: 10;
                width: 960px; height: 706px;
                background: url('../img/pc/bg_character.png') 50% 50% no-repeat;
                left: 50%; top: 50%;
                margin: -350px 0 0 -480px;

                ul.man-tab {
                    position: absolute;
                    top: 205px; left: 60px;
                    z-index: 10;
                    
                    li {
                        float: left;
                        margin: 0 5px;

                        a {
                            display: inline-block;
                            width: 110px;
                            line-height: 40px;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 700;
                            color: #fff;
                            background: #000;
                            border-radius: 10px;
                            border: 3px solid rgba(0, 0, 0, 0);

                            &.on {
                                color: #00ffff;
                                border: 3px solid #fff;
                            }
                        }
                    }
                }
                div.character-image {
                    position: absolute;
                    width: 620px; height: 560px;
                    left: 480px; top: 185px;

                    img {
                        display: none;
                    }
                }
                div.ch-info {
                    position: absolute;
                    z-index: 9;
                    width: 560px; height: 300px;
                    top: 300px; left: 75px;

                    p.f {
                        padding-bottom: 20px;

                        span.name {
                            font-size: 36px;
                            font-weight: 700px;
                            color: #fff;
                        }
                        span.info {
                            font-size: 14px;
                            font-weight: 700px;
                            color: #f6ff00;
                            margin-left: 20px;
                            letter-spacing: -1px;
                        }
                    }
                    p.s {
                        font-size: 14px;
                        color: #fff;
                        line-height: 24px;
                        letter-spacing: -1px;
                        height: 120px;
                    }
                    p.t {
                        font-size: 14px;
                        color: #fff;
                        font-weight: 700;
                        line-height: 22px;
                        padding: 30px 0 30px 0;
                    }
                }
                div.thumb {
                    position: absolute;
                    width: 214px;
                    top: 285px; left: 285px;
                    text-align: right;

                    a {
                        float: left;
                        position: relative;
                        margin: 0 5px;

                        &.on {

                            &:before {
                                position: absolute;
                                content: '';
                                border: 2px solid #f6ff00;
                                width: 57px; height: 57px;
                            }
                        }
                    }
                }
            }
        }
    }

    div#section4 {
        
        div.fall-contents {
            width: 100%; height: 100%;
            // background: url('../img/pc/bg_5.jpg') 50% 50% no-repeat;
            // background-size: cover;
            text-align: center;

            div.scene_bg {
                position: absolute;
                width: 100%; height: 100%;
                left: 0; top: 0;
                background: url('../img/pc/bg_section4_1.png') 50% 50% no-repeat;
                background-size: cover; 
                z-index: 2;
            }
            div.bg {
                position: absolute;
                width: 100%; height: 100%;
                top: 0;
                left: -100px;
                background: url('../img/pc/bg_section4_2.png') 50% 50% no-repeat;
                background-size: cover; 
                transform: scale(1.3);
                transition: transform 1.2s ease-in-out, left 1s ease-in-out;
                z-index: 1;

                &.on {
                    transform: scale(1);
                    left: 0;
                }
            }

            div.content-wrap {
                position: absolute;
                z-index: 10;
                width: 960px; height: 771px;
                background: url('../img/pc/bg_content.png') 50% 50% no-repeat;
                left: 50%; top: 50%;
                margin: -390px 0 0 -480px;

                ul.multimedia-tab {
                    position: absolute;
                    top: 155px; left: 363px;
                    
                    li {
                        float: left;
                        margin: 0 5px;

                        a {
                            display: inline-block;
                            width: 110px;
                            line-height: 40px;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 700;
                            color: #fff;
                            background: #000;
                            border-radius: 10px;
                            border: 3px solid rgba(0, 0, 0, 0);

                            &.on {
                                color: #00ffff;
                                border: 3px solid #fff;
                            }
                        }
                    }
                }

            }
        }
    }

    div#section5 {
        
        div.fall-contents {
            width: 100%; height: 100%;
            // background: url('../img/pc/bg_6.jpg') 50% 50% no-repeat;
            // background-size: cover;
            text-align: center;

            div.scene_bg {
                position: absolute;
                width: 100%; height: 100%;
                left: 0; top: 0;
                background: url('../img/pc/bg_section5_1.png') 50% 50% no-repeat;
                background-size: cover; 
                z-index: 2;
            }
            div.bg {
                position: absolute;
                width: 100%; height: 100%;
                top: 0;
                left: -100px;
                background: url('../img/pc/bg_section5_2.png') 50% 50% no-repeat;
                background-size: cover; 
                transform: scale(1.4);
                transition: transform 1.2s ease-in-out, left 1s ease-in-out;
                z-index: 1;

                &.on {
                    transform: scale(1);
                    left: 0;
                }
            }

            div.event-wrap {
                position: absolute;
                z-index: 10;
                width: 960px; height: 780px;
                background: url('../img/pc/bg_event.png') 50% 50% no-repeat;
                left: 50%; top: 50%;
                margin: -390px 0 0 -480px;

                div.f {
                    padding: 185px 0 25px 0;
                    text-align: center;

                    img {
                        margin: 0 10px;
                    }
                }
                p {
                    text-align: left;
                    color: #fff;
                    line-height: 26px;
                    font-size: 14px;
                    padding: 15px 0 0 95px;
                }
            }
        }
    }
}

div.movie-dimmed {
    position: fixed;
    width: 100%; height: 100%;
    background: #000;
    opacity: .8;
    z-index: 100;
}

.player-popup {
    position: absolute;
    left: 50%; top: 50%;
    z-index: 105;

    a.movie-close {
        position: absolute;
        top: -50px; right: -50px;
        width: 51px; height: 51px;
        background: url('../img/pc/btn_close.png') 0 0 no-repeat;
        text-indent: -9999px;
    }

    &.youtube-wrap {
        width: 960px; height: 539px;
        margin: -267px 0 0 -480px;
        // transform: scale(0.6);
        // transition: transform 0.5s, opacity 0.3s;
        // opacity: 0;
    }

    &.on {
        // transform: scale(1);
        // opacity: 1;
    }
}

.popup {
    position: absolute;
    left: 50%; top: 50%;
    z-index: 101;

    a.popup-close {
        position: absolute;
        top: 18px; right: 23px;
        width: 30px; height: 30px;
        background: url('../img/pc/icon_x.png') 0 0 no-repeat;
        text-indent: -9999px;
    }

    &.agreement {
        width: 800px;
        height: 500px;
        background: #000;
        margin: -250px 0 0 -400px;

        div.inner-agreement {

            p.tit {
                font-size: 20px;
                color: #fff;
                font-weight: 700;
                text-align: center;
                padding-top: 72px;
            }
            p.paragraph {
                font-size: 14px;
                color: #fff;
                line-height: 30px;
                padding: 60px;
            }

            p.paragraph-long {
                font-size: 14px;
                color: #fff;
                line-height: 30px;
                padding: 60px;
                height: 360px;
                overflow-y: auto;

                span {
                    color: #00cfb6;
                }
                strong {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
    }

    &.apply-ok {
        width: 800px;
        height: 400px;
        background: #000;
        margin: -200px 0 0 -400px;

        div.inner-agreement {
            text-align: center;

            p.tit {
                font-size: 28px;
                color: #fff;
                padding-top: 72px;
            }
            p.paragraph {
                font-size: 18px;
                color: #fff;
                line-height: 30px;
                padding: 40px 0 40px 0;
            }
            a.confirm {
                display: inline-block;
                text-align: center;
                padding: 25px 0;
                width: 300px;
                color: #000;
                background: #00a692;
                font-size: 24px;
            }
        }
    }
    &.normal-popup {
        width: 800px;
        background: #000;
        margin: -200px 0 0 -400px;
        padding-bottom: 70px;

        div.inner-agreement {
            text-align: center;

            p.text {
                font-size: 28px;
                color: #fff;
                padding-top: 72px;
                line-height: 50px;
                padding-bottom: 50px;
            }
            a.confirm {
                display: inline-block;
                text-align: center;
                padding: 25px 0;
                width: 300px;
                color: #000;
                background: #00a692;
                font-size: 24px;
            }
        }
    }
}


/********************** 
* globals
***********************/
//input focus remove outline
*:focus {
    outline: none;
}
.border {
    border: 1px solid red;
}
p.copyright {
    position: absolute;
    z-index: 10;
    width: 364px; height: 22px;
    left: 50%;
    bottom: 30px;
    margin: 0 0 0 -182px;
    background: url('../img/pc/copyright.png') 0 0 no-repeat;
}

// default checkbox
span.checkbox-default {
    display: inline-block;

    input[type="checkbox"] {
        display:none;
    }
    input[type="checkbox"] + label {
        color:#28313b;
        margin-bottom: 0;
    }
    input[type="checkbox"] + label span {
        display:inline-block;
        width:21px;
        height:21px;
        vertical-align:middle;
        margin-right: 6px;
        background:url('../img/pc/checkbox_off.png') 0 0 no-repeat;
        cursor:pointer;
    }
    input[type="checkbox"]:checked + label span {
        background:url('../img/pc/checkbox_on.png') 0 0 no-repeat;
    }
}

// default radio
span.radiobox-default {
    display: inline-block;

    input[type="radio"] {
        display:none;
    }
    input[type="radio"] + label {
        color:#28313b;
        font-family:Arial, sans-serif;
    }
    input[type="radio"] + label span {
        display:inline-block;
        width:23px;
        height:22px;
        vertical-align:middle;
        margin-right: 6px;
        background:url('../img/pc/radio_off.png') 0 0 no-repeat;
        cursor:pointer;
    }
    input[type="radio"]:checked + label span {
        background:url('../img/pc/radio_on.png') 0 0 no-repeat;
    }
}