/********************** 
* val
***********************/
$f-m : 'Karla', sans-serif;
$f-p : 'Playfair Display', serif;
$f-n : 'NanumBrunGothic', serif;

/********************** 
* layout
***********************/
div.wrapper {    
    margin: 0 auto;
    
    div#section0 {

    }

    div#section1 {
        
        div.scene_bg {
            width: 100%; height: 100%;
            background: url('../img/bg_1.jpg') 50% 50% no-repeat;
            background-size: cover;
        }
    }

    div#section2 {
        
        div.scene_bg {
            width: 100%; height: 100%;
            background: url('../img/bg_2.jpg') 50% 50% no-repeat;
            background-size: cover;
        }
    }

    div#section3 {
        
        div.scene_bg {
            width: 100%; height: 100%;
            background: url('../img/bg_3.jpg') 50% 50% no-repeat;
            background-size: cover;
        }
    }

    div#section4 {
        
        div.scene_bg {
            width: 100%; height: 100%;
            background: url('../img/bg_4.jpg') 50% 50% no-repeat;
            background-size: cover;
        }
    }
}


.popup {
    position: absolute;
    left: 50%; top: 50%;
    z-index: 100;

    &.youtube-wrap {
        width: 1000px; height: 752px;
        margin: -375px 0 0 -500px;
        border: 10px solid orange;
        transform: scale(0.2);
        transition: transform 0.5s;
    }

    &.on {
        transform: scale(1);
    }
}

/********************** 
* globals
***********************/
//input focus remove outline
*:focus {
    outline: none;
}
